{% comment %}
  Locale selector mount point.
  plugin-i18n.js and plugin-locale-selector.js inject the widget here.
  This snippet provides the anchor the JS looks for.
{% endcomment %}
<div data-locale-anchor aria-hidden="true"></div>
